*{
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  ::selection{
    color: white;
    background-color:#6D4C41 ;
  }
  } 
 .divheader1{
  background-color: #6D4C41;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  position: relative;
 }
.header1{
 font-size: 25px;
 font-family: cursive;
 color: #FFF59D;
margin-right: 20px;
transition: all 250ms ease-in ;
position: absolute;
}
@font-face {
 font-family: yekan;
 src: url(font/Yekan.woff);
}
.header1:hover{
 color: #7986CB;
transform: scale(.91);
}
.header1:active{
 background-color: #56f227;
}
.menu{
  width: 130px;
  height: 40px;
   position: relative;
   margin-left: .5%;
  margin-right: auto;
}
.menu-btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  border-radius: 6px;
  border: none;
  outline: none;
font-family: shabnam;
background-color: #0288D1;
color: #fff;
cursor: pointer;
transition: all 120ms ease-in 80ms;
}
.menu-svg{
  height: 30px;
  width: 30px;
  transition: all 120ms ease-in 80ms;
  position: relative;
  left: 90px;
bottom: 1px;
}
.menu-contein{
  transition: all 120ms ease-in 80ms;
  opacity: 0;
  width: 130px;
  padding: 16px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .1);
  margin-left: .5%;
  margin-right: auto;
  visibility: hidden;
}
.menu-contein a{

  text-decoration: none0;
  color: #1b1b1b;
  display: block;
  text-align: center;
  margin-bottom: 6px;
}
.menu-contein a:last-child{
  margin-bottom: 0;
}
.menu:hover .menu-contein{
  visibility: visible;
  opacity: 1;
  transform: translateY(10px);
}
.menu:hover .menu-btn{
  background-color: #0277BD;
}
.menu:hover .menu-btn svg{
  transform: rotate(180deg);
}
.p1{
  margin-top: 30px;
}
body{background-image: url(mah.tar.png); 
background-position: center center;
background-attachment: fixed;
 background-size: 100%;
background-repeat: repeat;
}
 .box4{ direction: rtl;
  background-image: linear-gradient(20deg,#FFEE58,#FF8F00,#E040FB);
   color: #fff;
   padding: 24px;
   border-radius: 15px;
   margin-top: 20px;
margin-bottom: 120px;
 margin-left: auto;
 margin-right: 50px;
 width: 660px;
text-align-last: right;
text-align: justify;
outline:2px solid #EC407A;
line-height: 35px;
font-family: yekan, Helvetica, sans-serif;
}
.div2{
 direction: ltr;
 font-size: 22px;
 padding: 30px ;
 border: 2px solid black;
 margin-left: 50px; 
margin-right: auto;
border-radius: 13px;
margin-bottom: 40px;
background-image: linear-gradient(20deg,#FFEE58,#FF8F00,#E040FB);
width: 660px;
text-align: justify ;
text-align-last: left;
color: #fff;
padding-top: 21px;
line-height: 1.8;
outline:2px solid #80CBC4;
box-shadow: 2px 2px 3px blue;
font-family: cursive,fantasy;
}
audio{
 flex-direction: row ;
}
@media screen and (max-width:576px) {
  audio{
  margin-right:245px ;
   }
}
@font-face {
 font-family: shabnam;
 src: url(font/Shabnam-FD.woff2);
}
.section-head{
width: 100%;
height: 30px;
font-family: shabnam;
position: relative;
}
.section-head1{
position: absolute;
right: 185px;
top: 46px ;
font-size: 20px;
animation: circle-animation 2s infinite ease;
}
@keyframes circle-animation{
0%{
transform: scale(.5);
opacity: 0;
}
100%{
opacity: 1;
transform: scale(1);
}
}
.container{
margin-bottom: 70px;
 max-width: 1216px;
margin-top: 70px;
margin-right: auto;
margin-left: auto;
display: flex;
gap: 20px;
align-items: center;
font-family: shabnam,yekan;
font-size: 0.9rem;
}
.flex-box1{background: #fff;
 width: 300px;
 height: 390px;
 margin: auto;
 background-image: url(../image/img1.jpg);
background-size: 80%;
background-repeat: no-repeat;
background-position: center 20px;
box-shadow: 2px 2px 14px rgba(0,0,0,.2);
}
.cabl{
 margin-top: 215px;
 margin-right: 10px;
}
.star1{
color:yellow ;
display: flex;
margin-left: 0;
margin-right: auto;
position: relative;
top: 90px;
left: 20px;
}
.pstar1{
 display: flex;
position: relative;
top: 74px;
margin-right: 230px;
}
.del1{
position: relative;
right: 50px;
top: 25px;
text-decoration: line-through;
 display: inline;
}
.off{
 position: relative;
 right: 10px;
 top: 7px;
 color: blueviolet;
 display: block;
 display: flex;
 
}
.price{
 position: relative;
 right: 20px;
 top: 13px;
 font-size: 18px;
}
.flex-box2{background: #fff;
 width: 300px;
 height: 390px;
 margin: auto;
 background-image: url(../image/img2.jpg);
background-size: 80%;
background-repeat: no-repeat;
background-position: center 20px;
box-shadow: 2px 2px 14px rgba(0,0,0,.2);
}
.flex-box3{background: #fff;
 width: 300px;
 height: 390px;
 margin: auto;
 background-image: url(../image/img3.jpg);
background-size: 80%;
background-repeat: no-repeat;
background-position: center 20px;
box-shadow: 2px 2px 14px rgba(0,0,0,.2);
}
.flex-box4{background: #fff;
 width: 300px;
 height: 390px;
margin: auto;
background-image: url(../image/img4.jpg);
background-size: 80%;
background-repeat: no-repeat;
background-position: center 20px;
box-shadow: 2px 2px 14px rgba(0,0,0,.2);
}
.span4{
 position: relative;
 bottom:  20px;
}
.about h5 {
 font:16px 'yekan' , Tahoma;
 color: #e2e2e2;
 padding:5px;
 margin: 20px auto;
 font-weight: bold;
}
.about p{
 font:13px/2 'yakan' , Tahoma;
 color: #e2e2e2;
 text-align: justify;
}
.footr {
 width: 100%;
 height: 350px;
 background: #182d37;
 margin: 20px auto 0;
 position: relative;
padding-right: 70px;
}
.main-footer{
 margin: 0 auto;
 width: 100%;
}
.about{
width: 350px;
height:300px;
float: right;
}
.ul{
width: 350px;
 margin: 0 50px;
 float: right;
 padding-top: 100 ;
  padding-right: 250px;
}
#ertebat{font-size: 16px;
 font-family:  yekan , Tahoma;
 color: #e2e2e2;
padding: 28px;
margin-right: 600px;
}
.link1,.link2{
  transition: all 150ms ease-in 5ms;
}
.link1:hover{  
 color: #8eb980 !important;
}
.link2:hover{
 color: #8eb980 !important;
}
.link{list-style-image: url(https://icongr.am/feather/phone-call.svg?size=22&color=currentColor);
  margin-top: 6px;
}